@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Young Serif', serif, 'Outfit', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flexCenter {
  @apply flex items-center justify-center;
}

.tableFormat{
  @apply px-32 py-4;
}

.bottomBorder{
  @apply border-b-[1px] border-light-grey;
}
